<%= render "shared/shield_front" %>
<div ng-app="app">
  <div ng-controller="cardsCtrl"
       ng-init="init(<%= current_user.id %>)">

    <h1>Card Search</h1>

    <div class="col-md-12">

      <section class="search-form">
        <form>
          <div ng-if="error">{{ error }}</div>
          <label for="search.keywords" class="sr-only">Keywords</label>
          <input type="text"
                 name="keywords"
                 class="form-control input-lg"
                 placeholder="Card Name or Multiverse ID"
                 ng-change="search(keywords)"
                 ng-model="keywords">
        </form>
      </section>

      <section class="search-results">
        <div ng-if="cards" class="container">
          <div class="col-md-10">
            <div class="row">
              <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
            </div>
            <div class="row">
              <div class="gallery col-md-3"
                  ng-repeat="card in cards">
                <div class="show_card">
                  <a href="/cards/{{ card.id }}">
                    <img class="gallery_card"
                         id="{{ card.name }}-{{ card.multiverse_id }}"
                         ng-src="{{ card.image_url }}" />
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <%= render partial: "pager", locals: { keywords: @keywords, page: @page } %>
            </div>
          </div>
        </div><!-- container -->
      </section>
    </div>
  </div> <!-- ng-controller -->
</div> <!-- ng-app -->
<%= render "shared/shield_back" %>
