<h2>Add a card:</h2>

<% if @card.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

    <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_tag '/decked_cards' do %>
  <%= label_tag :card_name %>
  <%= text_field_tag :card_name %>

  <%= label_tag :quantity %>
  <%= text_field_tag :quantity %>

  <%= submit_tag "Add Card" %>
<% end %>