<%= render "shared/shield_front" %>
<div ng-app="app">
  <div ng-controller="decksCtrl" ng-init="setUser(<%= current_user.id %>); setDeck(<%= @deck.id %>)">

    <h1><%= @deck.name %></h1>

    <div class="col-md-9 test">
      <div class="card-group" ng-repeat="(cardGroupName, cardGroup) in cardGroups track by $index" ng-if="cardGroup.length > 0">
        <h2>{{ cardGroupName }}</h2>
        <div class="card_group" ng-repeat="card in cardGroup | orderBy:card_name:false">
          <a href="/cards/{{ card.id }}" ng-mouseover="galleryCard(card.image_url)">
            {{ card.card_name }}
          </a>
          <br />
        </div>
      </div>

      <div class="col-md-4" id="add_card_form">
        <h2>Add a Card:</h2>
        <%= render 'card_form' %>
      </div>
    </div>

    <div class="col-md-2 test">
      <div class="card-frame">
        <img class="gallery_card" src="{{ cardImageInGallery }}" ng-if="cardImageInGallery">
      </div>
    </div>

  </div> <!-- ng-controller -->
</div> <!-- ng-app -->
<%= render "shared/shield_back" %>
